# Виртуалды орта
.venv/
env/
venv/

# Python кэш файлдары
__pycache__/
*.pyc

# C++ артық файлдары (тек код қалсын)
*.obj
*.lib
*.exp

# Егер urldata.csv датасеті өте үлкен болса (100MB-тан асса), оны да жүктемеген дұрыс
urldata.csv